<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comerciales.titulo}">Comerciales</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;">
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1 th:text="#{comerciales.titulo}">Comerciales</h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

            <div style="position: absolute; top : 40%;">
                <form action="/" style="display: inline;">
                    <input type="submit" th:value="#{inicio}"/>
                </form>
            </div>

            <div style="position: absolute; left: 20%; top : 40%;">
                <form action="/clientes" style="display: inline;">
                    <input type="submit" th:value="#{clientes.titulo}"/>
                </form>
            </div>

            <div style="position: absolute; left: 40%; top : 40%;">
                <form action="/comerciales/crear">
                    <input type="submit" th:value="#{comerciales.accion.nuevo}" value="Crear">
                </form>
            </div>

        </div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 8%" th:text="#{comerciales.tabla.id}">Id</div>
        <div style="float: left;width: 17%" th:text="#{comerciales.tabla.nombre}">Nombre</div>
        <div style="float: left;width: 17%" th:text="#{comerciales.tabla.apellido1}">Apellido1</div>
        <div style="float: left;width: 17%" th:text="#{comerciales.tabla.apellido2}">Apellido2</div>
        <div style="float: left;width: 17%" th:text="#{comerciales.tabla.comision}">Comision</div>
        <div style="float: none;width: auto;overflow: hidden;" th:text="#{comerciales.tabla.accion}">Acción</div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>

    <div th:each="comercial : ${listaComerciales}" style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 8%" th:text="${comercial.id}">0</div>
        <div style="float: left;width: 17%" th:text="${comercial.nombre}">nombre</div>
        <div style="float: left;width: 17%" th:text="${comercial.apellido1}">apellido1</div>
        <div style="float: left;width: 17%" th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</div>
        <div style="float: left;width: 17%" th:text="${comercial.comision}">comision</div>
        <div style="float: none;width: auto;overflow: hidden;">
            <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                <input type="submit" th:value="#{comerciales.accion.detalle}" value="Ver Detalle"/>
            </form>
            <form th:action="@{/comerciales/editar/__${comercial.id}__} " style="display: inline;">
                <input type="submit" th:value="#{comerciales.accion.editar}" value="Editar"/>
            </form>
            <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                <input type="submit" th:value="#{comerciales.accion.eliminar}" value="Eliminar"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>